.env
.DS_Store
.dart_tool/
.packages
.pub/
build/
ios/.generated/
packages
.flutter-plugins
.flutter-plugins-dependencies
.idea/
*.iml

# Firebase Config (Sensitive)
google-services.json
GoogleService-Info.plist
